.text-color1{color: cadetblue;}
.text-color2{color: bisque;}
.text-color3{color: coral;}
.text-color4{color: darkseagreen;}
.text-color-dark{color:#142c28;}
.text-color-light{color:antiquewhite;}


.bg-color1{background-color: cadetblue;}
.bg-color2{background-color: bisque;}
.bg-color3{background-color: coral;}
.bg-color4{background-color: darkseagreen;}
.bg-color-dark{background-color: #142c28;}
.bg-color-light{background-color:antiquewhite;}

.footer-container{
    display:block;
    position: fixed;
    bottom: 0;
    width: calc(100vw - 2em);

    padding: 1em 1em 1em 1em;
    margin: 0;

}
.footer-container__center-text{
    text-align: center;
    font-size: 1.2em;
}